.container {
    display: grid;
    grid-template-columns: [first] 1fr [menu-left-first] 1.5fr [menu-left-last] repeat(6, 1fr) [menu-right-first] 1.5fr [menu-right-last] 1fr [last];
    grid-template-rows:[header-bottom] max-content [footer-top] 200px[footer-bottom];
    gap: 12px 12px;
}

.main {
    grid-column: menu-left-last / menu-right-first;
    grid-row: header-bottom / footer-top;
    display: grid;
    gap: 12px 12px
}

.background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}