  .cards__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap: 10px
  }


  .cards__item__link {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: max-content max-content;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__img__container {
    place-self: center;
    grid-column: 1 / 13;
    width: 100%;
    display: grid;
  }


  .cards__item__img {
    height: 100px;
    min-width: 100%;
    justify-self: stretch;
    transition: all 0.2s linear;
  }

  .cards__item__title__container{
    grid-column: 1 / 13;
    padding: 10px;
    color: black;
    font-weight: 700;
  }

  .cards__item__title {
    color: #252e48;
    font-size: 18px;
  }

  .cards__item__category {
    grid-column: 2/5;
    grid-row: 2 /3 ;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
  }


  
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  

  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  