.menu-left {
    border-radius: 5px;
    grid-column: menu-left-first/ menu-left-last;
    grid-row: header-bottom / footer-top;
    background-color: rgb(65, 65, 65);
    color: white;
    display: grid;
}

.menu-right {
    border-radius: 5px;
    grid-column: menu-right-first/ menu-right-last;
    grid-row: header-bottom / footer-top;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: white;
    padding-top: 0px;
}

.skill{
    grid-column: 1 / 4;
}

.profficiency{
    grid-column: 2 / 4;
    justify-self: center;
}

.looking-for-job{
    font-size: 1rem;
}



.child-block {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.name {
    margin-top: 0em;
    display: inline;
    margin-left: 6%;
    font-size: 0.65em;
    color: white;
}

.portrait {
    border-radius: 5px;
    max-width: 100%;
}

.contacts {
    font-size: 2rem;
    color: white;
    max-width: 100%;
}

.contacts >p {
    font-size: 1rem;
  
}


