.navbar {
    background: linear-gradient(90deg, rgb(46, 45, 45) 0%, rgb(35, 35, 35) 100%);
    height: 80px;
    display: grid;
    gap: 12px 12px;
    grid-template-columns: [first] 1fr [menu-left-first] 1.5fr [menu-left-last] repeat(6, 1fr) [menu-right-first] 1.5fr [menu-right-last] 1fr [last];
    grid-template-rows: [top] 80px [bottom];
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-logo {
    grid-column: menu-left-first / menu-left-last;
    color: #fff;
    align-self: center;
    justify-self: end;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
}

.nav-menu {
    grid-column: menu-left-last / menu-right-first;
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-self: end;
    align-self: center;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    place-self: center;
    height: 80px;
}

/* Dropdown button */
.dropdown .dropbtn {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

/* Dropdown content  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    transition: all 0.2s ease-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
