.header-button{
  background-color: rgb(219, 223, 224);
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header-buttons{
  grid-column: menu-right-first / menu-right-last;
  grid-row: header-top /header-bottom;
  place-self: end;
}

.container {
  background-color: black;
  justify-content: stretch;
  display: grid;
  grid-template-columns: [first] 1fr [menu-left-first] 1fr [menu-left-last] 1fr  [body-left] 1fr 1fr [body-right] 1fr [menu-right-first] 1fr  [menu-right-last] 1fr  [last];
  grid-template-rows: [header-top] 0.1fr [header-bottom] 1fr [body-top] repeat(20,1fr) [bottom];
  gap: 10px 10px
}

.header {
  color:white;
  grid-column: first /  last;
  grid-row: header-top /header-bottom;
  background-color: rgb(23, 16, 82);
}

.margin-left {
  grid-column: first / menu-left-first ;
  grid-row: header-bottom / bottom;
  background-color: black;
}

.margin-right{
    grid-column: menu-right-last / last ;
    grid-row: header-bottom / bottom;
    background-color: black;
}

.menu-left{
  grid-column: menu-left-first/ menu-left-last;
  grid-row: header-bottom / bottom;
  background-color:rgb(23, 16, 82);
}

.menu-right{
  grid-column: menu-right-first/ menu-right-last;
  grid-row: header-bottom / bottom;
  background-color:rgb(23, 16, 82);
}

.home-page-section{
  grid-column: menu-left-last / menu-right-first;
}



.ParentBlock{
  border: 1 px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  display: grid;
}

.ChildBlock{
  display: inline-block;
  border: 1px ;
  padding: 1rem 1rem;
  vertical-align: middle;
  float: left;
}


.Name {
  font-size: calc(2px + 1vmin);
  color: white;
}

.contacts{
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-portrait{
    max-width: 100%;
  }


